﻿.displayInline{
    display: inline;
}

body{font-family: lucida grande, arial, helvetica,sans-serif;font-size:12px;color:#555555;margin:0px;padding:0px;background-color:#ffffff;}
a:link{text-decoration:none;color:#333333;}
a:visited{text-decoration:none;color:#333333;}
a:hover{text-decoration:none;color:#000000;}
a:active{text-decoration:none;color:#333333;}
a:focus{outline: none;}

/* UNIVERSAL PROPERTIES ----------------------------------- */
.clearBoth{clear:both;}
.clearBoth2{clear:Both;height:10px;}
.underline{text-decoration:underline important!}
.italic{font-style:italic;font-size:12px;}
.regular{font-size:12px;}
.small{font-size:10px;}
.bold{font-weight:bold;}
.margin10{margin:10px;}
.floatRight{float:right;}
.floatLeft{float:left;}
.faint a{color:#999999;}
.faint a:hover{color:#000000;}
.pageBottomPadding{height:85px;}

/* AJAX TABS technorati-theme */
.aTab1 .ajax__tab_header {background:url(images/aspnet-tabs/tab-line.png) repeat-x bottom;font-size:12px;display:block;}
.aTab1 .ajax__tab_header .ajax__tab_outer {background:url(images/aspnet-tabs/tab.png) no-repeat left top;border-color:#e9e9e9;color:#222;padding-left:10px;margin-right:3px;}
.aTab1 .ajax__tab_header .ajax__tab_inner {background:url(images/aspnet-tabs/tab.png) no-repeat right top;border-color:#e9e9e9;color:#666;padding:3px 10px 2px 0px;}
.aTab1 .ajax__tab_hover .ajax__tab_inner {color:#000000;cursor:pointer;}
.aTab1 .ajax__tab_active .ajax__tab_outer {background:url(images/aspnet-tabs/tab.png) no-repeat 0pt -40px;border-bottom-color:#ffffff;}
.aTab1 .ajax__tab_active .ajax__tab_inner {background:url(images/aspnet-tabs/tab.png) no-repeat right -40px;color:#000000;border-color:#e9e9e9}
.aTab1 .ajax__tab_body {font-size:10px;padding:1px 0px 0px 0px;background-color:#ffffff;border:solid 1px #e9e9e9;border-top-width:0;}
.contentTemplate{font-size:11px;padding:20px 10px 20px 10px;}

/* DETAILS VIEW STYLES */
.dv{width: 100%; border: 0px solid #e9e9e9; background-color: #fff;}
.dv td{padding:2px 5px; border: 1px solid #e9e9e9;}
.dv th{padding:2px 5px; border: 0px solid #e9e9e9;}
.dvHeader{background-image: url(images/detailsview/header-bg.jpg); text-align: center; height: 22px; color: #000000; font-weight: bold; font-size: 14px;}
.dvRowStyle{Border: 0px solid #e9e9e9; height: 22px;}
/*.detailsviewRowStyle:hover{Border: 1px solid #D5D4E1; background-image: url(images/hover-bg.jpg);}*/
.dvAlternateRowStyle{background-color: #fff; height: 22px;}
.dvAlternateRowStyle:hover{background-image: url(images/hover-bg.jpg);}
.dvFieldHeader{width: 170px;}

/* edit user info */
.userInfoWrap{width:500px;}

/* form element styles */
.formNameTitle{font-size: 16px; font-weight: bold;}
.formSectionTitle{font-weight: normal;font-size:14px;color:#000000; border-bottom: 1px solid #e9e9e9;}
.formSectionTitle2{font-weight: normal;font-size:14px;color:#000000; border-bottom: 1px solid #e9e9e9;margin-bottom:20px;}
.formLabelsText{margin:5px 0px 5px 0px;}
.formSectionEnd{margin-bottom:20px;}
.formButton input{font-size:11px;}

/* custom styles */
#contentWrapper
{
    margin:20px auto;
    width: 90%;
}
#centerWrapper
{
    margin: 0px auto;
    width: 70%;
    z-index: 2;
    background-color: White;
}
#nav{/*
    position: relative;
    left: 5px;*/
    margin: 0px;
    padding: 0px 0px 0px 0px;
    margin: 0;
    width: 100%;
}

#nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    
    /*text-align: center;*/
}
#nav ul li
{
    position: relative;
    border-style: none;
    display: inline-block;
    border-width: 0px;
    margin: 0;
    padding: 0;
}
.navImageControls
{
   border-style: none;
   border-width: 0px;
   margin: 0px;
}
#nav a{
    /*color: #ffc040;*/
    /*background-color: #a66f00;*/
    border: 0;
    border-spacing: 0;
    width: 9em;
    /*padding: .2em .8em;*/
    text-decoration: none;
}
#userBar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*text-align: center;*/
}
#userBar ul li{
    display: inline;
    background: url(../../../images/delimiter.png) no-repeat 0 2px;
    padding:0 1.5em;
}

#userBar a{
    /*color: #ffc040;*/
    /*background-color: #a66f00;*/
    text-decoration: none;
}
#userBar li.first {
    padding-left:0;
    background:none;
  }
#userBar li.last 
{
    padding-right:0;
}
.Title
{
	font-size: 16pt;
	font-weight: bold;
	padding: 0px 0px  5px  0px;
}
.TableTitle
{
	font-size: 12pt;
	font-weight: bold;
	padding: 0px 0px  5px  0px;
}
.notifications
{
    background-color: #BAFFC0;
    margin: 0 auto;
    width: 90%;
}
.HiddenColumn
{
    display:none;
}

#masterBody
{
    background-image: url(images/CustomerPortal.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #B0C0D3;
}
.masterTable
{
    width: 954px;
    /*padding:  20px 0px 0px 20px;*/
    margin: 0px auto;
    background-color:White;
    
}
#topbar
{
    width: 955px; 
    margin: 0 auto;
}
#paymentsTable
{
    background-color: #E8F1F8;
}

.header-text{
    color:rgb(172,148,84);
    font-size:27pt;
    padding-left:30px;
    position:relative;
    top:10px; 
    font-family:'Trebuchet MS'
}

