﻿<%@ Page Title="Home" Language="C#" MasterPageFile="~/themes/default/default.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <%-- temporary content --%>
    <div class="tempLoginWrap">
        <div class="buttonCSS">
            <asp:HyperLink ID="HyperLink2" runat="server" NavigateUrl="~/Members/Default.aspx" Target="_blank">Login as Member</asp:HyperLink>
        </div>
        <div class="clearBoth3">
        </div>
        
</asp:Content>
