﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/themes/default/default.master"  CodeFile="verification.aspx.cs" Inherits="verification" %>
<%@ Register Src="controls/Verification.ascx" TagName="verification" TagPrefix="uc1" %>





<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
 <title>Account Verification</title>
    <meta name="robots" content="NOINDEX, NOFOLLOW" />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <uc1:verification ID="verification2" runat="server" />
</asp:Content>
