﻿<html>
<body>
    <img alt="Easton Logo" src="https://olp1.eastonutilities.com/images/header/logo.png" />
    <h2>Your Password Has Been Changed!</h2>
    <p>
        This email confirms that your password for your Easton Utilities MyAccount with username "<%UserName%>" has been changed.
    </p>
    <p>
        If you have any questions or encounter any problems logging in, please call Customer Service (410.822.6110) or contact us by e-mail at info@eastonutilities.com
    </p>
    <br />
    <p>Thank you for your continued business,</p>
    Easton Utilities
</body>
</html>