﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="default.master.cs" Inherits="members_themes_default_default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%--<%@ Register Src="../../controls/LocationsBar.ascx" TagName="LocationsBar" TagPrefix="uc1" %>--%>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <meta http-equiv ="Page-Enter" content ="blendTrans(Duration=0)" />
    <meta http-equiv="Page-Exit" content="blendTrans(Duration=0)" />
    <title></title>

    <link href="~/themes/default/jquery-ui-1.10.4.custom.min.css" rel="Stylesheet" type="text/css" />
    <link href="~/themes/default/default.css" rel="stylesheet" type="text/css" />
    <link href="~/themes/default/pure.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/ico" href="../../../images/pmpa.ico" />

    <%--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>--%>
    <%--<script type="text/javascript" src="../../../js/jquery.magnific-popup.min.js"></script>--%>
    <%--<script type="text/javascript" src="../../../js/CableReset.js"></script>
    <script type="text/javascript" src="../../../js/jquery.1.11.3.min.js"></script>
    <script type="text/javascript" src="../../../js/highcharts.js"></script>
    <script type="text/javascript" src="../../../js/drilldown.js"></script>--%>
    
    <script language="javascript" type="text/javascript">

        function popitup(url) {
            newwindow = window.open(url, 'name', 'height=735,width=765,toolbar=no,scrollbars=no,location=0,resizable=yes');
            /*if (window.focus) { newwindow.focus() }
            return false;*/
        }
    </script>
    
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body id="masterBody"  >
<script language="javascript" type="text/javascript">

    
    $(document).ready(function () {
        $('.tableDivider').each(function () {
            // Get their parent td's height
            var tdHeight = $(this).closest('td').height();

            // Set the div's height to their parent td's height
            // $(this).height(500);

        });
        $('tableDivider').css('height', 1000);

    });
</script>
    <form id="form1" runat="server">
    <div id="topbar">
        
        
    <%-- ajax script manager --%>
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
            <div style="margin-bottom:15px;margin-top:10px;">
                <div id="divLogo" runat="server" style="float:left;margin-right:5px;">
                    <asp:Image ID="imgLogo" runat="server" ImageUrl="~/Gaffney/themes/default/images/Gaffney-Logo-smaller-noText.png"  />
                </div>
                <div style="float:left;position:relative;top:25px;">
                    <asp:Image ID="imgLogoLabel" runat="server" ImageUrl="~/Gaffney/themes/default/images/MeterDataPortal-Header.png" border="0" />
                </div>
                <div style="float:right;">
                    <div id="userBar" style="text-align: right; vertical-align: text-top; padding-right: 10px;">
                        <ul>
                            <li class="first">
                                <a id="linkAdmin" runat="server" href="/admin/" visible="false">Admin</a>
                            </li>
                            <li class="first"><a href="UserPanel.aspx">
                                <asp:LoginName ID="LoginName1" runat="server"  FormatString="Edit Profile">
                                        
                                </asp:LoginName>
                            </a></li>
                            <li class="last">
                                <asp:LoginStatus ID="LoginStatus1" runat="server" OnLoggingOut="LoginStatus1_LoggingOut" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="display:none;height: 80px">
                <%--<tr>
                    <td style=" padding: 0 0 5px 0px;" rowspan="2" colspan="1" valign="bottom">
                        <a href="http://http://10.10.101.152/CustomerPortal">
                        <asp:Image ID="imgHeader" border="0" runat="server" 
                            ImageUrl="~/images/header/PMPALogo.png" style="vertical-align:middle;width:250px;"  /></a>
                    </td>
                    <td rowspan="2" colspan="1" valign="middle">
                        <div class="header-text" style="width:240px;position:relative;top:29px;">
                        Gaffney My Account
                        </div>
                    </td>
                    <td colspan="1" valign="top">
                        <div id="userBar" style="text-align: right; vertical-align: text-top; padding-right: 10px;padding-top:10px;">
                            <ul>
                                <li class="first">
                                    <a id="linkAdmin" runat="server" href="/admin/" visible="false">Admin</a>
                                </li>
                                <li class="first"><a href="UserPanel.aspx">
                                    <asp:LoginName ID="LoginName1" runat="server"  FormatString="Edit Profile">
                                        
                                    </asp:LoginName>
                                </a></li>
                                <li class="last">
                                    <asp:LoginStatus ID="LoginStatus1" runat="server" OnLoggingOut="LoginStatus1_LoggingOut" />
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>--%>
                <tr>
                    <td width="100%" colspan="3" valign="bottom" align="right">
                    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                    <ContentTemplate>
                    <div id="nav" style="display: none;">
                        <ul>
                            <li><a href="Default.aspx">
                                <asp:Image ID="imgOverviewTab" runat="server" ImageUrl="~/members/themes/default/images/tabs/OverviewTabGray.png"
                                    class="navImageControls" /></a> 
                                    </li>
                                    <li><a href="BillPay.aspx">
                                <asp:Image ID="imgPayBillTab" runat="server" ImageUrl="~/members/themes/default/images/tabs/PayBillTabGray.png"
                                    class="navImageControls" /></a> </li>
                                    <li><a href="Trends.aspx">
                                        <asp:Image ID="imgTrendsTab" runat="server" ImageUrl="~/members/themes/default/images/tabs/TrendsTabGray.png"  
                                        class="navImageControls" /> </a></li>
                                        <li>
                                            <a href="OutageMap.aspx">
                                             <asp:Image ID="imgMapTab" runat="server" 
                                             ImageUrl="~/members/themes/default/images/tabs/OutageTabGray.png"  
                                        class="navImageControls"/> </a>
                                        </li>
                                </ul>
                        </div>
                        
            </ContentTemplate>
                        
        </asp:UpdatePanel>
                    </td>
                </tr>
            </table>
    </div>
   <%-- <table class="masterTable" cellspacing="0px" style="height:1000px;">
        <tr>
            <td id="specialTD"  rowspan="2" valign="top" style="padding: 20px; background-color: #f4f4f6; ">
                <asp:Panel ID="pnlLocations" runat="server">
                
                Welcome, 
                        <asp:Label ID="lblName" runat="server" Text="Label"></asp:Label>

<h2>Meters</h2>
<asp:GridView ID="gvMeters" runat="server" AutoGenerateColumns="False" 
    CellPadding="5" DataSourceID="sdsMeters" DataKeyNames="Id" 
    onselectedindexchanged="gvMeters_SelectedIndexChanged" Width="250px" OnRowDataBound="gvMeters_RowDataBound">
    
    <AlternatingRowStyle BackColor="White" />
    <Columns>
        <asp:BoundField DataField="Id" HeaderText="ID"  SortExpression="Id" HeaderStyle-HorizontalAlign="Left" />
        <asp:BoundField DataField="MeterNumber" HeaderText="Meter Number" SortExpression="MeterNumber" HeaderStyle-HorizontalAlign="Left">
        </asp:BoundField>
    </Columns>
    <HeaderStyle BackColor="#D6DDE7" ForeColor="#364761" HorizontalAlign="Left" />
    <SelectedRowStyle BackColor="LightSteelBlue" />
</asp:GridView>
<div style="display:none;">
<h2>Accounts</h2>
<asp:GridView ID="gvLocations" runat="server" AutoGenerateColumns="False" 
    CellPadding="5" DataSourceID="sdsLocations" DataKeyNames="LocationID" 
    onrowdatabound="gvLocations_RowDataBound" 
    onselectedindexchanged="gvLocations_SelectedIndexChanged" Width="250px">
    
    <AlternatingRowStyle BackColor="White" />
    <Columns>
        <asp:BoundField DataField="LocationID" HeaderText="ID" 
            SortExpression="LocationID" />
        <asp:BoundField DataField="FullAddressLine1" HeaderText="Service Address" 
            SortExpression="FullAddressLine1" >
        <ItemStyle Wrap="True" />
        </asp:BoundField>
        <asp:BoundField DataField="AccountBalance" DataFormatString="{0:c}" 
            HeaderText="Balance" SortExpression="AccountBalance" >
        <HeaderStyle Wrap="False" />
        </asp:BoundField>
    </Columns>
    <HeaderStyle BackColor="#D6DDE7" ForeColor="#364761" />
    <SelectedRowStyle BackColor="LightSteelBlue" />
</asp:GridView>
</div>
</asp:Panel>
            </td>
            <td valign="top" style="position: relative;"><div class="tableDivider" >&nbsp;&nbsp;&nbsp;&nbsp;</div></td>
            <td  valign="top" align="left">
                <asp:Panel ID="eBillingNote" runat="server" CssClass="notifications" Visible="false" BorderStyle="Solid" BorderWidth="1px" BorderColor="Black"
                      >
                    <h4>Notifications</h4>
                    <asp:Label ID="eBillingLBL" runat="server" Text="Would you like to subscribe to paperless eBilling and receive your bills via email?
(This setting can always be changed via your Profile link in the Edit Subscriptions section.)
" ></asp:Label>
                    <br />
                    <asp:Button ID="eBillingAccept" runat="server" Text="Yes" OnClick="eBillingAccept_Click" />
                    <asp:Button ID="eBillingDecline" runat="server" Text="No" OnClick="eBillingDecline_Click" />
                </asp:Panel>
                <div style="padding: 20px;">
                </div>
            </td>
        </tr>
        
    </table>--%>
    <div class="centeredContent">
        <div style="padding-top:10px;">
        <h2>Welcome!</h2>
        </div>
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
    </div>
    </form>
    <asp:SqlDataSource ID="sdsLocations" runat="server" 
        ConnectionString="<%$ ConnectionStrings:dbCustomerInfo %>" SelectCommand="EXEC	[Overview].[spCustomerLocationSummary] @CustNbr">
        <SelectParameters>
            <asp:ProfileParameter Name="CustNbr" PropertyName="CustomerDetails.CustNbr" />
        </SelectParameters>
    </asp:SqlDataSource>

    <asp:SqlDataSource ID="sdsMeters" runat="server" 
        ConnectionString="<%$ ConnectionStrings:cpSOCKET_MultiSpeak %>" SelectCommand="EXEC	[MR].[spGetMeterListByCompany] @companyId">
        <SelectParameters>
            <asp:SessionParameter Name="CompanyId" Type="Int32" SessionField="CompanyId"  />
        </SelectParameters>
    </asp:SqlDataSource>
</body>
</html>
