﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="DeleteAccount.aspx.cs"  MasterPageFile="~/members/themes/default/default.master" Inherits="members_DeleteAccount" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <form>

    </form>
</asp:Content>