﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="OutageMap.aspx.cs"  MasterPageFile="~/members/themes/default/default.master" Inherits="members_OutageMap" %>

<%@ Register Src="controls/OutageMap.ascx" TagName="Map" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
    <title>Outage Map</title>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <table class="centered"><tr><td>
    
        <iframe frameborder="0" src="http://10.10.101.152/metermap/map.aspx?City=Westminster" width="700px" height="500px" />
    </td></tr>
</table>
</asp:Content>