﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Template.aspx.cs"  MasterPageFile="~/members/themes/default/default.master" Inherits="members_Template" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <form>
    <asp:TextBox ID="TextBox1" runat="server">77B48847-0891-460F-920E-B4E6F482A40C</asp:TextBox>
    <asp:Button ID="Button1" runat="server" Text="Test" onclick="Button1_Click" /><asp:Label
        ID="Label1" runat="server" Text="Label"></asp:Label>

    </form>
</asp:Content>