﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="login-with-captcha.ascx.cs" Inherits="controls_login_with_captcha" %>
<%@ Register TagPrefix="cc1" Namespace="WebControlCaptcha" Assembly="WebControlCaptcha" %>
<%-- LOGIN USER CONTROL WITH CAPTCHA --%>
<div class="liWrap" style="font-size:14px;">
    <a name="login" id="login" style="display: block; height: 0px; width: 0px; border: 0px;"></a>
   <%-- <div class="liTitle">
        LOGIN</div>
        <br />--%>
    <h4 style="font-size:18px;font-weight:bold;padding:0;margin-bottom:10px;">Gaffney Meter Data Management Login</h4>
    <p style="margin-bottom:20px;line-height:150%;">
        Welcome <b>Gaffney</b> customers! We have been working hard to improve your online experience by providing new tools to assist you in managing your meters. We are very excited to offer these features and hope you enjoy the benefits they will provide. If you have received a new account number in the mail, please click the <b>Register an account</b> link below.
    </p>
    <asp:ValidationSummary ID="ValidationSummary1" runat="server" ShowMessageBox="True" ValidationGroup="Login1" EnableClientScript="False" />
    <%-- success label --%>
    <div class="LiMessage">
        <asp:HyperLink ID="lblFailureText" runat="server" Width="240px" Visible="false" EnableViewState="false"></asp:HyperLink>
    </div>
    <div class="clearBoth"></div>
    <asp:Literal ID="Msg" runat="server" Visible="false"></asp:Literal>
    <asp:LoginView ID="loginBox" runat="server">
        <LoggedInTemplate>
        </LoggedInTemplate>
        <AnonymousTemplate>
            <div class="loginIcon">
            </div>
            <asp:Login ID="Login1" runat="server" OnAuthenticate="Login1_Authenticate" OnLoginError="Login1_LoginError" VisibleWhenLoggedIn="False" OnLoggingIn="Login1_LoggingIn">
                <LayoutTemplate>
                    <asp:Panel ID="pnlLogin" runat="server" DefaultButton="LoginButton">
                        <div style="width: 550px;">
                            <div style="float:left;">
                                <asp:Label ID="UserNameLabel" runat="server" AssociatedControlID="UserName">User Name:*</asp:Label>
                                <asp:RequiredFieldValidator ID="UserNameRequired" runat="server" ControlToValidate="UserName" ErrorMessage="User Name is required." ToolTip="User Name is required." ValidationGroup="Login1" Display="Dynamic" EnableClientScript="False">*</asp:RequiredFieldValidator>
                                <asp:TextBox ID="UserName" runat="server" TabIndex="1" ToolTip="enter your user name" MaxLength="50" Width="99%"></asp:TextBox>
                                <div class="clearBoth2">
                                </div>
                                <asp:Label ID="PasswordLabel" runat="server" AssociatedControlID="Password">Password:*</asp:Label>
                                <asp:RequiredFieldValidator ID="PasswordRequired" runat="server" ControlToValidate="Password" ErrorMessage="Password is required." ToolTip="Password is required." ValidationGroup="Login1" Display="Dynamic" EnableClientScript="False">*</asp:RequiredFieldValidator>
                                <asp:TextBox ID="Password" runat="server" TabIndex="2" TextMode="Password" ToolTip="enter your password" MaxLength="50" Width="99%"></asp:TextBox>
                                <div class="clearBoth2">
                                </div>
                                <div title="enter the code shown on the image.">
                                </div>
                                <div class="clearBoth2">
                                </div>
                                <br />
                                <asp:Button ID="LoginButton" runat="server" CommandName="Login" TabIndex="4" Text="Log In" ValidationGroup="Login1" />
                                <br />
                                <br />
                                <asp:CheckBox ID="RememberMe" runat="server" TabIndex="5" Text="Remember me next time." />
                            </div>
                            <div style="float:right;border-left: solid 1px #CCCCCC;padding-left: 15px;">
                                <h4 style="font-size:14px;font-weight:bold;padding:0;margin-bottom:10px;">Don't have an account?</h4>
                                <a href="register.aspx">Register an account</a>
                                <%--<asp:Button ID="btnRegister" runat="server" Text="Register" onclick="btnRegister_Click" />--%>
                                <br />
                                <br />
                                <br />
                                <h4 style="font-size:14px;font-weight:bold;padding:0;margin-bottom:10px;">Trouble logging in?</h4>
                                <a href="recover-password.aspx">Reset your password</a><br />
                                <%--<asp:Button ID="btnLostPassword" runat="server" Text="Recover Password" OnClick="btnPassword_Click" />--%>
                                <br />
                                <a href="recover-username.aspx">Recover your username</a>
                               <%-- <asp:Button ID="btnLostUsername" runat="server" Text="Recover Username" OnClick="btnUsername_Click"  />--%>

                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <%--<div class="clearBoth2">
                        </div>
                        <asp:Label ID="UserNameLabel" runat="server" AssociatedControlID="UserName">User Name:*</asp:Label>
                        <asp:RequiredFieldValidator ID="UserNameRequired" runat="server" ControlToValidate="UserName" ErrorMessage="User Name is required." ToolTip="User Name is required." ValidationGroup="Login1" Display="Dynamic" EnableClientScript="False">*</asp:RequiredFieldValidator>
                        <asp:TextBox ID="UserName" runat="server" TabIndex="1" ToolTip="enter your user name" MaxLength="50" Width="99%"></asp:TextBox>
                        <div class="clearBoth2">
                        </div>
                        <asp:Label ID="PasswordLabel" runat="server" AssociatedControlID="Password">Password:*</asp:Label>
                        <asp:RequiredFieldValidator ID="PasswordRequired" runat="server" ControlToValidate="Password" ErrorMessage="Password is required." ToolTip="Password is required." ValidationGroup="Login1" Display="Dynamic" EnableClientScript="False">*</asp:RequiredFieldValidator>
                        <asp:TextBox ID="Password" runat="server" TabIndex="2" TextMode="Password" ToolTip="enter your password" MaxLength="50" Width="99%"></asp:TextBox>
                        <div class="clearBoth2">
                        </div>
                        <div title="enter the code shown on the image.">
                        </div>
                        <div class="clearBoth2">
                        </div>
                        <asp:Button ID="LoginButton" runat="server" CommandName="Login" TabIndex="4" Text="Log In" ValidationGroup="Login1" />
                        <asp:Button ID="btnRegister" runat="server" Text="Register" 
                            onclick="btnRegister_Click" />
                            <br />
                        <asp:Button ID="btnLostPassword" runat="server" Text="Recover Password" OnClick="btnPassword_Click" />
                        
                        <asp:Button ID="btnLostUsername" runat="server" Text="Recover Username" OnClick="btnUsername_Click"  />
                        
                        <div class="clearBoth2">
                        </div>
                        <asp:CheckBox ID="RememberMe" runat="server" TabIndex="5" Text="Remember me next time." />--%>
                    </asp:Panel>
                </LayoutTemplate>
            </asp:Login>
        </AnonymousTemplate>
    </asp:LoginView>
    <asp:LoginView ID="userStatus" runat="server">
        <LoggedInTemplate>
            <div class="logoutIcon">
            </div>
            <div style="font-size: 20px;">
                Hello,
                <asp:LoginName ID="LoginName1" runat="server" />!
            </div>
            You are currently logged in.
            <br />
            <br />
            <asp:LoginStatus ID="LoginStatus1" runat="server" />
        </LoggedInTemplate>
    </asp:LoginView>
</div>
