﻿body{font-family: lucida grande, arial, helvetica,sans-serif;font-size:12px;color:#555555;margin:0px;padding:0px;background-color:#ffffff; height:100%;}
html { height: 100%; }
a:link{text-decoration:none;color:#005DAB;}
a:visited{text-decoration:none;color:#005DAB;}
a:hover{text-decoration:underline;color:#005DAB;}
a:active{text-decoration:none;color:#333333;}
a:focus{outline: none;}

/* UNIVERSAL PROPERTIES ----------------------------------- */
.clearBoth{clear:both;}
.clearBoth2{clear:Both;height:10px;}
.underline{text-decoration:underline important!}
.italic{font-style:italic;font-size:12px;}
.regular{font-size:12px;}
.small{font-size:10px;}
.bold{font-weight:bold;}
.margin10{margin:10px;}
.floatRight{float:right;}
.floatLeft{float:left;}
.faint a{color:#999999;}
.faint a:hover{color:#000000;}
.pageBottomPadding{height:85px;}

/* AJAX TABS technorati-theme */
.aTab1 .ajax__tab_header {background:url(images/aspnet-tabs/tab-line.png) repeat-x bottom;font-size:12px;display:block;}

.aTab1 .ajax__tab_header .ajax__tab_outer {background:url(images/aspnet-tabs/tab.png) no-repeat left top;
                                           border-color:#e9e9e9;color:#222;}
.aTab1 .ajax__tab_header .ajax__tab_inner {background:url(images/aspnet-tabs/tab.png) no-repeat right top;border-color:#e9e9e9;
                                           color:#666; background-color: #AEBED1; padding:3px;}
.aTab1 .ajax__tab_hover .ajax__tab_inner {color:#000000;cursor:pointer;}
.aTab1 .ajax__tab_active .ajax__tab_outer {background:url(images/aspnet-tabs/tab.png) no-repeat 0pt -40px; 
                                           border-top-color:#ffffff;}
.aTab1 .ajax__tab_active .ajax__tab_inner {background:url(images/aspnet-tabs/tab.png) no-repeat right -40px;
                                           background-color: #ffffff; color:#000000;border-color:#e9e9e9}
.aTab1 .ajax__tab_body {font-size:10px;padding:1px 0px 0px 0px;background-color:#ffffff;border:solid 1px #e9e9e9;border-top-width:0;}
.contentTemplate{font-size:11px;padding:20px 10px 20px 10px; background-color: #E8F1F8;}

/* DETAILS VIEW STYLES */
.dv{width: 100%; border: 0px solid #e9e9e9; background-color: #fff;}
.dv td{padding:2px 5px; border: 1px solid #e9e9e9;}
.dv th{padding:2px 5px; border: 0px solid #e9e9e9;}
.dvHeader{background-image: url(images/detailsview/header-bg.jpg); text-align: center; height: 22px; color: #000000; font-weight: bold; font-size: 14px;}
.dvRowStyle{Border: 0px solid #e9e9e9; height: 22px;}
/*.detailsviewRowStyle:hover{Border: 1px solid #D5D4E1; background-image: url(images/hover-bg.jpg);}*/
.dvAlternateRowStyle{background-color: #fff; height: 22px;}
.dvAlternateRowStyle:hover{background-image: url(images/hover-bg.jpg);}
.dvFieldHeader{width: 170px;}

/* edit user info */
.userInfoWrap{width:500px;}

/* form element styles */
.formNameTitle{font-size: 16px; font-weight: bold;}
.formSectionTitle{font-weight: normal;font-size:14px;color:#000000; border-bottom: 1px solid #e9e9e9;}
.formSectionTitle2{font-weight: normal;font-size:14px;color:#000000; border-bottom: 1px solid #e9e9e9;margin-bottom:20px;}
.formLabelsText{margin:5px 0px 5px 0px;}
.formSectionEnd{margin-bottom:20px;}
.formButton input{font-size:11px;}

/* custom styles */
#contentWrapper
{
    margin:20px auto;
    width: 90%;
}
#centerWrapper
{
    margin: 0px auto;
    width: 70%;
    z-index: 2;
    background-color: White;
}
#nav{/*
    position: relative;
    left: 5px;*/
    margin: 0px;
    padding: 0px 0px 0px 0px;
    margin: 0;
    width: 100%;
}

#nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    
    /*text-align: center;*/
}
#nav ul li
{
    position: relative;
    top: 3px;
    border-style: none;
    display: inline-block;
    border-width: 0px;
    margin: 0;
    padding: 0;
}
.navImageControls
{
   border-style: none;
   border-width: 0px;
   margin: 0px;
}
#nav a{
    /*color: #ffc040;*/
    /*background-color: #a66f00;*/
    border: 0;
    border-spacing: 0;
    width: 9em;
    /*padding: .2em .8em;*/
    text-decoration: none;
}
#userBar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*text-align: center;*/
}
#userBar ul li{
    display: inline;
    background: url(../../images/delimiter.png) no-repeat 0 2px;
    padding:0 1em 0em 1.5em;
}

#userBar a{
    /*color: #ffc040;*/
    /*background-color: #a66f00;*/
    text-decoration: none;
}
#userBar li.first {
    padding-left:0;
    background:none;
  }
#userBar li.last 
{
    padding-right:0;
}
.Title
{
	font-size: 16pt;
	font-weight: bold;
	padding: 0px 0px  5px  0px;
}
.TableTitle
{
	font-size: 12pt;
	font-weight: bold;
	padding: 0px 0px  5px  0px;
}
.notifications
{
    background-color: #BAFFC0;
    width: 540px;
    padding: 5px;
    }
.HiddenColumn
{
    display:none;
}

#masterBody
{
    background-image: url(../../images/CustomerPortal.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #B0C0D3;
}

.tableDivider
{
    /*
    background-image: url(../../images/MyAccountShadow.png);
    background-repeat: repeat-y;
    position: absolute;
    bottom: 0;
    right: 0;
    
    height: 100%;*/

}
#specialTD
{
    background-image: url(../../images/MyAccountShadow2.png);
}
.masterTable
{
    width: 954px;
    /*padding:  20px 0px 0px 20px;*/
    margin: 0px auto;
    background-color:White;
    
}
#topbar
{
    width: 955px; 
    margin: 0 auto;
}

.centeredContent
{
    /*width: 920px;
    margin: 0 auto;
    padding-top: 20px;*/ 
    width:953px;
    margin: 0 auto;
    background-color: #fff;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
}
input[type=text]:focus {
 
border: solid 2px #9AAE44;
 
background: #eee;
 
}

a img{
  border: none;
}

.tabTD
{
    padding: 0px; 
    border-top: 1px solid gray; 
    border-left: 1px solid gray; 
    border-right: 1px solid gray;
}
.panelPaymentS1
{
    padding: 0px 0px 10px 30px;
}


div#tipDiv {
    font-size:11px; line-height:1.2;
    color:#000; background-color:#E1E5F1; 
    border:1px solid #667295; 
    padding:4px;
    width:200px; 
}

/* for optional caption */
div#tipDiv div.caption {
    font-weight:bold; text-align:center;
    margin-bottom:4px;
    }

/* for divs with classes img and txt 
   used in dw_Tooltip.wrapImageOverText and other image-text formatting functions */
div#tipDiv div.img { 
    text-align:center; 
    margin:4px 0; 
    }
div#tipDiv div.txt { 
    text-align:center; 
    margin:4px 0;
    }
    
.underlined
{
    /*text-decoration: underline;*/
    border-bottom: 1px dotted #FFFFFF;
}    

.centered
{
    margin: 0 auto;
    width: 700px;
}

.bordered
{
    border: 1px solid black;
}


.box {
     display:none;
     position: relative;
    /*background: orange;*/
    background: rgb(246, 209, 111);
    padding: 5px;
    border: 1px solid black;
    width: 150px;
}

a:hover + .box {
     display:block;   
}


.step {
   width: 30%;

    width: -webkit-calc(32% - 4px); 
    width: -o-calc(32% - 4px); 
    width: -moz-calc(32% - 4px); 
    width: calc(32% - 4px);


   border:1px solid #DCDCDC;
   border-bottom:1px solid #DCDCDC;
   border-right:1px solid #DCDCDC;
   font-weight:bold;
   background-color:#F0F0EE;
   text-align:center;
   line-height:40px;
   height: 15px;

   display:block;
   float: left;
}


.step-active {
    color:#fff;
    background-color:#3080d5;
    border-left:1px solid #2065AA;
    border-top:1px solid #2065AA;
    border-bottom:1px solid #2065AA;
    border-right:1px solid #3080d5;
}



.step-failed {
    color:#fff;
    background-color:rgb(237, 28, 36);
    border-left:1px solid rgb(240, 68, 77);
    border-top:1px solid rgb(240, 68, 77);
    border-bottom:1px solid rgb(240, 68, 77);
    border-right:1px solid rgb(240, 68, 77);
}

.button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white !important;
            border-radius: 4px !important;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) !important;
        }

        .button-success {
            background: rgb(28, 184, 65) !important; /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60) !important; /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20) !important; /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221) !important; /* this is a light blue */
        }

.header-text{
    color:rgb(1,110,166);
    font-family: 'Times New Roman',serif;
    font-size: 40px;
    font-weight:normal;
    height:78px;
    line-height:26px;
    position:relative;
    top:8px;
    padding-left:30px;

    /*color:rgb(172,148,84);
    font-size:27pt;
    padding-left:30px;
    position:relative;
    top:10px; 
    font-family:'Trebuchet MS'*/
}



.button-blue {
    border-style:none;
    color:#555555;
    border-radius:4px;
    font-size:14px;
    font-weight:bold;
    background-color:rgb(124, 181, 236);
    height:20px;
    /*-webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.4);
    box-shadow:0px 5px 10px rgba(0,0,0,0.4);*/
}

.button-blue:hover {
    cursor: pointer;
}